<div class="landing-content">
  <div class="title-container">
    <button mat-button>
      <h1 class="title-text">
        AI-Learning I/O
      </h1>
    </button>
  </div>

  <div class="about-container">
    <button mat-button routerLink="/aboutMe" (click)="scrollToTop()">
      <h1 class="main-text">
        About
        <i class="fas fa-caret-right"></i>
      </h1>
      <h1 class="about-text">Me Me Me!</h1>
    </button>
  </div>

  <div
    *ngIf="calendarIndex !== null && calendarIndex !== undefined"
    class="calendar-container"
  >
    <button mat-button routerLink="/calendarLanding" (click)="scrollToTop();">
      <h1 class="main-text">
        Calendar
        <i class="fas fa-caret-right"></i>
      </h1>

      <h1 class="month-text">
        {{ calendarIndex.current_month_string }}
        {{ calendarIndex.current_year }}
      </h1>
    </button>
  </div>

  <div
    *ngIf="latestBlogInfo !== null && latestBlogInfo !== undefined"
    class="blog-container"
  >
    <button mat-button routerLink="/blogLanding" (click)="scrollToTop();">
      <h1 class="main-text">
        Blog
        <i class="fas fa-caret-right"></i>
      </h1>
      <h1>
        {{ latestBlogInfo.date }}:
        {{ latestBlogInfo.title }}
      </h1>
      <h1>
        {{ latestBlogInfo.description }}
      </h1>
    </button>
  </div>

  <div
    *ngIf="latestPortfolioInfo !== null && latestPortfolioInfo !== undefined"
    class="portfolio-container"
  >
    <button mat-button routerLink="/portfolioLanding" (click)="scrollToTop();">
      <h1 class="main-text">
        Portfolio
        <i class="fas fa-caret-right"></i>
      </h1>
      <h1>{{ latestPortfolioInfo.date }}: {{ latestPortfolioInfo.title }}</h1>
      <h1>
        {{ latestPortfolioInfo.subtitle }}
      </h1>
    </button>
  </div>
</div>
