
<button mat-button (click)="defaultStory();">Most Recent</button>
<button mat-button [matMenuTriggerFor]="menu" >Browse Vault</button>
<mat-menu #menu="matMenu">
  <div *ngFor="let story of blogStoryLibrary">
      <button mat-menu-item (click)="getSelectedStory(story.index_value)">{{story.title}}</button>
  </div>
</mat-menu>
<div class="blog-content" *ngIf="currentStoryInfo !== null">
  <button mat-button class="prev-button" (click)="prevStory(); scrollTop();">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button mat-button class="next-button" (click)="nextStory(); scrollTop();">
    <i class="fas fa-arrow-right"></i>
  </button>

  <h1>{{currentStoryInfo.title}}</h1>
  <h3>{{currentStoryInfo.date}} {{currentStoryInfo.description}}</h3>

  <img src="{{currentStoryInfo.image_url}}" width="100%" height="100%" alt="Photo of a Shiba Inu">

  <p *ngFor="let paragraph of currentMainContent">
    {{ paragraph }}
  </p>
</div>