.blog-content {
    max-width: 500px;
    margin: auto;
}

.prev-button {
    position: fixed;
    float: left;
    left: 0%;
    height:100%;

    @media all and (max-width: 675px) {
        /* put your css styles in here */
        opacity: 0.5;
    };
}

.next-button {
    position: fixed;
    float: right;
    right: 0%;
    height:100%;

    @media all and (max-width: 675px) {
        /* put your css styles in here */
        opacity: 0.5;
    };
}

.title-info {
    text-align: center;
}

.close-button.mat-button {
    float:right;
}