.calendar-wrapper {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.zoom {
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  z-index: 90;
}

.zoom:hover {
  background-color: green;
  opacity: 0.5;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(3);
}

::ng-deep .mat-calendar-body-cell-content {
  color: black;
}

::ng-deep .mat-calendar-table-header {
  color: black;
}
::ng-deep .mat-calendar-body-label {
  color: black;
}

::ng-deep .mat-calendar-body-disabled>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  /* color: rgba(255,255,255,.5); */
  text-decoration: line-through;
  color: red;
}