<div mat-dialog-actions class="dialog-actions">

</div>
<div *ngIf="data !== null">
    <button class="close-button" mat-button (click)="onCloseClick()">
        <i class="fas fa-times"></i>
    </button>
    <h1 mat-dialog-title class="title-info">{{data.title}}</h1>
    <div mat-dialog-content>
        {{data.date}} {{data.description}}
        <div *ngFor="let info of mainInfoData">
            <p *ngIf="info.type === 'text'">
                {{info.paragraph}}
            </p>
            <img *ngIf="info.type === 'img'" src="{{info.img}}" width="100%" height="100%" alt="Photo of a Shiba Inu">

        </div>
    </div>
</div>