.portfolio-content {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  :hover {
    opacity: 0.9;
    z-index: 9;
  }

  @media (hover: none) {
  }
}

.portfolio-button {
  width: 100%;
}

.portfolio-header {
  width: 100%;
}

.image-thumbnail {
  display: block;
}

.view-button {
  float: right;
}

mat-card {
  max-height: 100px;
  margin: auto;
}

mat-card-title {
  margin: auto;
}

mat-card-header-text {
  margin: auto;
}

// panel class start

::ng-deep .custom-dialog-content .mat-dialog-container {
  background:none;
}

.dialog-panel {
    z-index:1001;
}

.dialog-actions {
  float: right;
}

.prev-button {
  position: fixed;
  float: left;
  left: 0%;
  height: 100%;
  z-index: 99;

  @media all and (max-width: 675px) {
    /* put your css styles in here */
    opacity: 0.5;
  }
}

.next-button {
  position: fixed;
  float: right;
  right: 0%;
  height: 100%;
  z-index: 99;

  @media all and (max-width: 675px) {
    /* put your css styles in here */
    opacity: 0.5;
  }
}
