<div class="portfolio-container">
    <div class="portfolio-title-container">
        <button mat-button>
          <h1 class="portfolio-title">Portfolio</h1>
        </button>
      </div>

  <div *ngIf="projectLibraryData !== null">
    <button
      mat-button
      class="prev-button"
      [disabled]="begDisplayIndex === 0"
      (click)="prevCardSet(); scrollTop()"
    >
      <i class="fas fa-arrow-left"></i>
    </button>
    <button
      mat-button
      class="next-button"
      [disabled]="endDisplayIndex === projectCount"
      (click)="nextCardSet(); scrollTop()"
    >
      <i class="fas fa-arrow-right"></i>
    </button>
    <div class="portfolio-dialog-content" *ngFor="let project of displayData">
      <mat-card
        [ngStyle]="{
          'background-color': project.background_color,
          color: project.text_color
        }"
        (click)="openSelectedProject(project.index_value)"
      >
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{ project.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ project.date }} : {{ project.subtitle }}
          </mat-card-subtitle>
        </mat-card-header>
        <!-- might want to go back to this in a later date to fix thumbnail issue -->
        <!-- <img class="image-thumbnail" mat-card-image src="{{project.image_thumbnail}}" alt="Photo of a Shiba Inu"> -->
      </mat-card>
      <!-- </button> -->
    </div>
  </div>
</div>
