<div
  class="custom-dialog-content mat-dialog-container"
  [ngStyle]="{'background-color': data.background_color, 'color': data.text_color}"
>
  <div mat-dialog-actions class="dialog-actions"></div>
  <div class="dialog-panel" *ngIf="data !== null">
    <button class="close-button" mat-button (click)="onCloseClick()">
      <i class="fas fa-times"></i>
    </button>
    <h1 mat-dialog-title class="dialog-title-info">{{data.title}}</h1>
    <div mat-dialog-content>
      <span class="dialog-description-info">
        {{data.date}} : {{data.description}}
      </span>

      <div class="dialog-container" *ngFor="let info of mainInfoData">
        <p *ngIf="info.type === 'text'">
          {{info.paragraph}}
        </p>
        <p>
          <img
            *ngIf="info.type === 'img'"
            src="{{info.img}}"
            width="100%"
            height="100%"
            alt="Photo of a Shiba Inu"
          />
        </p>
      </div>
    </div>
  </div>
</div>
