.portfolio-content {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    :hover {
        opacity: 0.5;
    }

    @media(hover:none){
   
    }
}

.portfolio-button {
    width:100%;
}

.portfolio-header {
    width: 100%;
}

.image-thumbnail {
    display:block;
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.view-button {
    float:right;
}

mat-card-title {
    margin: auto;
}

mat-card-header-text {
    margin: auto;
}

.dialog-actions {
    float:right;
}