<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    This is the start of my web building. :)
  </h1>
</div>
<ul>

This is a message text used for testing the application. Beep boop.
Wanna install app?

<!-- <button *ngIf="Pwa.promptEvent" (click)="installPwa()">
  Install
</button> -->

</ul>

<button routerLink="/landing">Go to Landing Page</button>
<button routerLink="/aboutMe">Go to About Me</button>
<button routerLink="/portfolioLanding">Go to Portfolio</button>
<button routerLink="/landing">Go to the Vault</button>


<input type="button" value="landing page navigation">
<router-outlet></router-outlet>
