
.nav-menu {
  float: right;
}

.mobile-view {
  display: none;
  margin: 0 auto;
  @media all and (max-width: 768px) {
    display: block;
  }
}

.pc-view {
  display: block;
  margin: 0 auto;
  @media all and (max-width: 768px) {
    display: none;
  }
}

.nav-button {
  width:100%;
  height:80%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 35px;

}

.nav-container {
  height: 90px;
}
.nav-content {
  position: fixed;
  z-index: 10;
  width: 100%;
  right: 0px;
  top: 0px;
  background-color: #111c30;

}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  right: 0px;
}
