/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
    background-image: url("./assets/background/art-background-backlit.jpg");
}

// mat-dialog-container{
//     opacity: 1;
//     background-color: #123123;
// }

// .mat-dialog-container{
//     opacity: 1;
//     background-color: #123123;
// }

// .custom-dialog-content .mat-dialog-container {
//     background-color: #123123;
// }

// need to use this to hide second scroll bar
.ng-star-inserted .mat-dialog-content {
    overflow: unset;
}

.close-button.mat-button {
    float:right;
}

.title-info.mat-dialog-title {
    text-align:center;
}