/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
    background-image: url("./assets/background/art-background-backlit.jpg");
}

mat-dialog-container{
    opacity: 0.75;
}

.cdk-overlay-pane{
    height: 75%;
    width: 75%;

    @media all and (max-width: 675px) {
        height: 100%;
        width: 100%;
    }

}