/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
    // background-image: url("./assets/background/art-background-backlit.jpg");
    font-family: 'Cardo', serif;
    min-width:1000px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }

// need to use this to hide second scroll bar
.ng-star-inserted .mat-dialog-content {
    overflow: unset;
}

.close-button.mat-button {
    float:right;
}

.title-info.mat-dialog-title {
    text-align:center;
}